<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.article.mapper.GraduationArticleTypeRelationshipMapper">
    <!--插入更新文章类型-->
    <insert id="replaceIntoArticleProgramaType">
        replace into graduation_article_type_relationship(article_id,article_type_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.articleId},#{item.articleTypeId})
        </foreach>
    </insert>
</mapper>