<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.article.mapper.RecommendNeedDatasMapper">
    <select id="selectScoreInfo" resultType="com.article.pojo.ScoreInfo">
        select blog_id as blogId,user_id as userId,sum(score) as score from
(
select blog_id,user_id,5 as score from graduation_user_collect group by blog_id,user_id
union all
select blog_id,user_id,2 as score from graduation_user_blog_history group by blog_id,user_id
union all
select blog_id,user_id,1 as score from graduation_search_history group by blog_id,user_id
) a group by blog_id,user_id order by blog_id,user_id
    </select>


    <select id="selectMatrixUserIdsOrderByUserIdsAsc" resultType="Long">

select user_id from
(
select user_id  from graduation_user_collect group by user_id
union
select user_id  from graduation_user_blog_history group by user_id
union
select user_id e from graduation_search_history group by user_id
) a order by user_id
    </select>
    <select id="selectMatrixBlogIdsOrderByBlogIdsAsc" resultType="Long">

select blog_id from
(
select blog_id  from graduation_user_collect group by blog_id
union
select blog_id  from graduation_user_blog_history group by blog_id
union
select blog_id e from graduation_search_history group by blog_id
) a order by blog_id
    </select>
</mapper>